SECRET_KEY=your-secret-django-key-here
DEBUG=False
DATABASE_URL=postgres://user:password@host:port/dbname
ALLOWED_HOSTS=yourdomain.up.railway.app,127.0.0.1
CORS_ALLOWED_ORIGINS=https://yourdomain.up.railway.app,https://your-github-pages-url.github.io/vidnex
CSRF_TRUSTED_ORIGINS=https://yourdomain.up.railway.app
