SECRET_KEY=your-secret-django-key-here
DEBUG=False
DATABASE_URL=postgres://user:password@host:port/dbname
ALLOWED_HOSTS=vidnex-production.up.railway.app,127.0.0.1
CORS_ALLOWED_ORIGINS=https://vidnex-production.up.railway.app,https://18me2meetghorecha-gif.github.io
CSRF_TRUSTED_ORIGINS=https://vidnex-production.up.railway.app,https://18me2meetghorecha-gif.github.io
